
/**************************Movie Container Section*************************/
/***x*****************************************************************x***/
.manage__movie-container{
    width: 100%;
  }
 /***x*****************************************************************x***/  
 /******************************Header Section****************************/
 .header{
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 10px;
  }
  :host::ng-deep .header .mat-form-field-wrapper{
    padding-bottom: 0px !important;
  }
    
.btn-add{
  background-color: rgb(243, 243, 8);
  color: white;
  }
  .feed-form-group{
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    align-items: center;
    min-width: 40%;
  }
  .search{
    font-size: 18px;
    padding: 0px 5px;
    margin: 0px 5px;
    font-weight: 400;
  }
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  
  
 /***x*****************************************************************x***/  
 /*******************************Table Section****************************/ 
  table {
    width: 100%;
  }
  
  .mat-column-actions {
    text-align: right;
  }
   
  .mat-header-cell {
    max-width: 300px;
  }
  ::ng-deep .mat-form-field-flex > .mat-form-field-infix { padding: 0.6em 0px !important;}
 /***x*****************************************************************x***/ 
 
  @media (max-width: 815px){
    .header{
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20px;
      padding: 10px;
      border: 2px solid red;
      }
  }

