


<div class="add__genre__container">
    <form  (ngSubmit)="onSubmit()" #addGenreForm="ngForm">
        
        <div class="add__genre__formGroupe">
            <label for="name">Genre</label>
            <mat-form-field appearance="outline">
                <mat-label>Enter genre</mat-label>
                <input matInput
                 placeholder="Enter the Genre"  
                 name="nameGenre"
                 required
                 ngModel
                 #nameErr="ngModel">
                <mat-error *ngIf="!nameErr.valid && nameErr.touched">Enter genre</mat-error>
            </mat-form-field>
        </div>

        <div class="btn">  
          <button mat-stroked-button color="primary" [disabled]="!addGenreForm.valid">Submit</button>
        </div>
    </form>
</div>



  
